@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body{
	margin: 0px;
	width: 100%;
	background-color: #141824;
}

.main-container{
	width: 100%;
	height: 100%;
	margin: auto;
	flex-direction: column;
    justify-content: space-around;
	background-color: #141824;
}
#clock{
	width: 100%;
	font-size: 7em;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 17%;
}
.clock-box{
	margin-top: 2%;
	padding: 3em 1.5em;
	background-image: linear-gradient(45deg, #6DF0D1, #19ABDE);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	animation: bgblob 4s infinite 0.5s;
}
@keyframes bgblob{
	0%{
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
	25%{
		border-radius: 75% 25% 45% 55% / 30% 30% 70% 70%;
	}
	50%{
		border-radius: 61% 39% 27% 73% / 62% 77% 23% 38%;
	}
	75%{
		border-radius: 38% 62% 74% 26% / 75% 57% 43% 25%;
	}
	100%{
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
}
@media only screen and (max-width: 600px){
	.main-container{
		flex-wrap: wrap;
        flex-direction: column;
	} 
	#clock, h1{
		width: 90%;
	}
		#clock{
		margin-top: 10%;
	}
}

/*Je gaat hier van telefoon over op tablet */
@media only screen and (min-width: 600px) and (max-width: 900px){
	.main-container{
		flex-wrap: wrap;
        flex-direction: column;
	} 
	#clock, h1{
		width: 90%;
	}
	#clock{
		margin-top: 16%;
	}
}

/*Je gaat hier van tablet over op kleine desktop */
@media only screen and (min-width: 900px) and (max-width: 1100px){
	.main-container{
		flex-wrap: wrap;
        flex-direction: column;
	} 
	#clock, h1{
		width: 90%;
	}
	#clock{
		margin-top: 14%;
	}
}

/*Je gaat hier van kleine desktop over op een grote desktop */
@media only screen and (min-width: 1100px){
	.main-container{
		flex-wrap: wrap;
        flex-direction: column;
	} 
	#clock {
		width: 95%;
	}
}
